body {
  background-color: white;
}

.perfil {
  background-color: lightgreen;
  font-size:16px;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.perfil h1 {
  color: red;
}

.complemento {
  background-color: skyblue;
  padding:15px;
  margin-left:14px
}